################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EncryptDecrypt.API
/bin/Debug/net6.0
/obj
/.vs/ProjectEvaluation/encryptdecrypt.api.metadata.v7.bin
/.vs/ProjectEvaluation/encryptdecrypt.api.projects.v7.bin
